<%- include('./includes/head.ejs')%>
<%- include('./includes/navbar.ejs')%>

<div class="container mt-5 mb-5" style="width: 35%;">

  <div class="card">
    <div class="card-body" >
      <img src="<%= pokemon.images.imageFront %>" class="card-img-top" alt="<%= pokemon.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= pokemon.name %></h5>
        <p class="card-text"><strong>Tipos:</strong> <%= pokemon.types.join(', ') %></p>
        <p class="card-text"><strong>Habilidades:</strong> <%= pokemon.abilities.join(', ') %></p>
      </div>
      <div class="d-flex">
        <% if (user) { %>
          <form action="/addPokemon" method="post" class="me-2">
            <input type="hidden" name="pokemonName" value="<%= pokemon.name %>">
            <button type="submit" class="btn btn-secondary text-white">Adicionar Pokemon</button>
          </form>
        <% } %>
      
        <a href="/pokemons" class="btn btn-primary">Voltar</a>
      </div>
    </div>

  </div>
  

</div>

<%- include('./includes/footer.ejs')%>
